.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button{
    background:#000;
    font: inherit;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
    background: #fff;
    border-color: #000;
    color: #000;
}